<div class="read-more" #readMore [style.height]="setHeightStyle">
  <div class="title text-container">{{data.title}}</div>
  <div class="subt-title text-container">{{data.subtitle}}</div>
  <div class="list-container">
    <ul>
        <li *ngFor="let bulletList of data.contents">
          <div class="text-container" *ngFor="let item of bulletList.listContent">
            {{item.text}}
          </div>
        </li>
    </ul>
  </div>
</div>
<div (click)="readMoreContent()">read-more</div>
<div (click)="readLess()">read-less</div>

